.footer {
    display: flex;
    flex-direction: column-reverse;
    margin-top: auto;
}

.copywriting {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #777;
    a {
        color: #337ab7;
    }
}
