.header {
    background: no-repeat center center;
    background-color: gray;
    background-attachment: scroll;
    background-size: cover;
    background-image: url(../public/images/bg.jpeg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.siteHeading {
    width: 100%;
    text-align: center;
    padding: 150px 0;
    h1 {
        font-size: 70px;
        font-weight: 700;
        color: white;
    }
    span {
        font-family: -apple-system, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", STHeiti,
            "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN",
            "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
        line-height: 1.7;
        font-size: 18px;
        line-height: 1.1;
        display: block;
        font-weight: 300;
        margin: 10px 0 0;
        color: #fff;
    }
}

.articleHeading {
    width: 100%;
    padding: 150px 0;
    .tags {
        a {
            border: 1px solid rgba(255, 255, 255, 0.8);
            border-radius: 999em;
            display: inline-block;
            padding: 0px 10px;
            color: #fff;
            margin-right: 5px;
            margin-bottom: 10px;
            font-size: 12px;
            line-height: 24px;
            background-color: transparent;
            &:hover {
                background-color: rgba(255, 255, 255, 0.3);
            }
        }
    }
    h1 {
        font-size: 55px;
        font-weight: 700;
        color: white;
        margin-top: 20px;
        margin-bottom: 24px;
    }
    .meta {
        font-family: Lora, "Times New Roman", serif;
        font-style: italic;
        font-weight: 300;
        font-size: 20px;
        color: #fff;
    }
}

@media screen and (max-width: 768px) {
    .siteHeading {
        padding: 90px 0 70px;
        h1 {
            font-size: 40px;
        }
    }
    .articleHeading {
        padding: 90px 0 70px;
        h1 {
            font-size: 30px;
        }
    }
}
